<p>New Game</p>
<button (click)="startGame(2)">2 Players</button>
<button (click)="startGame(5)">5 Players</button>
<button (click)="startGame(6)">6 Players</button>
<button (click)="startGame(7)">7 Players</button>
<button (click)="startGame(8)">8 Players</button>
<button (click)="startGame(9)">9 Players</button>
<button (click)="startGame(10)">10 Players</button>
<p>Games to join:</p>
<ng-container *ngFor="let game of joinableGames">
  <button (click)="join(game.playerId)">Join {{game.playerName}} - {{game.playerEmail}}</button>
</ng-container>
<!--<button (click)="joinGame(duel)">Join duel</button>-->
<!--<button (click)="joinGame(classic)">Join classic</button>-->
