<div id="canvas-wrapper"></div>
<div>Ty si {{role}}!!!</div>
<ng-container *ngIf="role=='policajt'">
  <ng-container *ngFor="let allrole of allRoles">
    <div>{{allrole}}</div>
  </ng-container>
</ng-container>
<button *ngIf="!voteInProgress" (click)="startVote()">Hlasovať</button>
<button *ngIf="voteInProgress && !voted" (click)="vote('Zeleň')">Zeleň</button>
<button *ngIf="voteInProgress && !voted" (click)="vote('Červeň')">Červeň</button>
<div>Výsledok hlasovania: {{voteResult}}</div>
